*{
font-family: 'Anonymous Pro', sans-serif;
}

body{
background: #000;
}

.container{
padding: 20px;

}

#mac-body{
background: #000;
background: url(../images/mac.png) no-repeat;
height: 1300px;
position: absolute;
left: 50%;
width: 1000px;
margin-left: -500px;
}


#mac-screen{
height: 430px;
width: 623px;
background: #666;
background: url(../images/grid.png);
position: absolute;
top: 230px;
left: 50%;
margin-left: -315px;
border-radius: 10px;
}

#welcome{
background-color: #fff;
width: 500px;
height: 150px;
border: 5px double #000;
padding: 5px;
border-radius: 5px;
position: absolute;
top: 50%;
margin-top: -100px;
left: 50%;
margin-left: -250px;
font-family: 'Anonymous Pro', sans-serif;
font-weight: bold;
font-size: 20px;
padding-left: 50px;
padding-top: 50px;
}

#welcome img{
margin-right: 50px;
width: 30px;
}

#mac-menu{
min-height: 0px;
height: 30px;
background: #eee;
border-bottom: 1px solid #000;
}

#mac-menu .nav>li{
width: 45px;
text-align: center;
}
#mac-menu .navbar-nav>li>a{
padding: 4px;
font-family: 'Anonymous Pro', sans-serif;
color: #000;
font-weight: bold;
}

#mac-menu .navbar-nav>li>a:hover{
background-color: #000;
color: #fff;
}

#mac-menu .dropdown-menu{
border: 1px solid #000;
width: 200px;
}

#mac-menu .dropdown-menu>li>a {
padding-left: 10px;
text-align: left;
}
#mac-menu .dropdown-menu>li>a:hover{
background-color: #000;
color: #fff;
}

.open>a{
background-color: #000 !important;
color: #fff !important;
}

#icons{
text-align: center;
width: 100px;
float: right;
}

.icon{
width: 100px;
}

.icon img{
width:30px;
}
.icon_title{
color: #000;
}

.icon_title:hover, .icon_title:focus{
text-decoration: none;
}

.big-video-control-container{
  display:none;
}
